#content {
  background-image: url(../../assets/img/bb_09_2020.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

